.button{
    border: 1px solid var(--textHover);
    float: right;
    border-radius: 2px;
    color: var(--mainTextColor);
    padding: 10px;
    margin: 0 10px 0 0;
    transition: all .3s ease;
    cursor: pointer;

    &:hover{
        color: var(--textHover);
    }
}

.button--toggleDarkMode{
    &:hover{
        background: rgb(0, 0, 0);
    }
}

.button--returnHome{
    color: var(--mainTextColor);
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
}

.arrow{
    transform: rotate(-90deg) scale(.7);
    background: none;
}