@import './buttons';

.nav__burger{
    @extend .button;
    z-index: 20;
    display: none;    
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: center;
}

@media all and (max-width: 800px){
    .nav__burger{        
    display: block;
    }
}

.nav--active {
    transform: scale(1);
    opacity: 1;
}