.nav-link{
    transition: all .3s ease;
    transform-origin: left;
}

.nav-link:hover{
    color: var(--textHover);
}

.nav__search{
    color: var(--mainTextColor);
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--textHover);
}

.nav__search::placeholder{
    color: grey;
}

.nav__search:focus{
    outline: none;
}