.menuSelector{
    position: absolute;
    background: none;
    border: 1px solid var(--textHover);
    border-radius: 2px;
    transition: all .6s ease;
    display: block;

    @media all and(max-width: 800px){
        &{
            display: none;
        }
    }
}