.main-section>ul{
    margin: 10px 0 40px 50px;
}

.main-section>ul>li{
    padding: 5px;
}

.main-section>code{
    background: rgb(231, 231, 231);
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
    display: block;
    color: grey;
    font-size: .8em;
}