@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto:700');

html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: var(--fontSize);
    color: var(--mainTextColor);
    font-weight: 100;
    background: var(--backgroundColor);
}

a{
    text-decoration: none;
}

a:focus{
    outline: none;
}

a:visited{
    color: var(--mainTextColor);
}

button:focus{
    outline: none;
}

.mainHeader{
    background: linear-gradient(45deg, rgb(22, 69, 122) 0%, rgb(144, 196, 238) 100%);
}

.nav{
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    

    .nav__header{
        font-family: 'Roboto', sans-serif;
        padding-bottom: 20px;
        font-size: 1.6em;
        font-weight: 400;
    }

    .nav-link{
        padding: 8px 0;
        width: 100%;
        z-index: 10;
        background: transparent;
    }
    
    @media (max-width:850px){
        &{
            position: fixed;
            top: 0;
            right: 0;
            margin: 0;
            width: 100vw;
            height: 100vh;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transform: scale(0);
            transform-origin: 95% 20px;
            transition: transform .5s ease, opacity .3s ease;
        }
    }
}

.mainDoc{
    padding: 30px 60px 30px 30px;
    text-align: justify;

    .main-section{
        margin-bottom: 70px;
        border-bottom: 1px solid var(--mainTextColor);
    
        .main-section__header{
            font-family: 'Roboto', sans-serif;
            font-size: 1.3em;
            padding-bottom: 40px;
            font-weight: 400;
        }

        .main-section__content{
            padding-bottom: 30px;
        }

        .main-section__readMore{
            margin-bottom: 40px;
            cursor: pointer;
            border: none;
            text-decoration: underline;
            transition: all .3s ease;

            &:hover{
                color: var(--textHover);
            }
        }
    
    }

    @media all and (max-width:850px){
        &{
            padding: 30px 20px;
        }
    }
}

.footer{
    background: linear-gradient(-45deg, rgb(22, 69, 122) 0%, rgb(144, 196, 238) 100%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}