.wrapper{
    display: grid;
    grid-template-columns: 300px 1fr;

    @media (max-width: 850px){
        grid-template-columns: 1fr;
    }
}

.mainHeader{
    grid-column: 1/-1;
    height: 15vh;
}

.footer{
    grid-column: 1/-1;
    height: 15vh;
}