@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto:700");
:root {
  --mainTextColor: rgb(22, 69, 122);
  --fontSize: 18px;
  --backgroundColor:white;
  --textHover: rgb(144, 196, 238); }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: var(--fontSize);
  color: var(--mainTextColor);
  font-weight: 100;
  background: var(--backgroundColor); }

a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:visited {
  color: var(--mainTextColor); }

button:focus {
  outline: none; }

.mainHeader {
  background: linear-gradient(45deg, #16457a 0%, #90c4ee 100%); }

.nav {
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .nav .nav__header {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    font-size: 1.6em;
    font-weight: 400; }
  .nav .nav-link {
    padding: 8px 0;
    width: 100%;
    z-index: 10;
    background: transparent; }
  @media (max-width: 850px) {
    .nav {
      position: fixed;
      top: 0;
      right: 0;
      margin: 0;
      width: 100vw;
      height: 100vh;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transform: scale(0);
      transform-origin: 95% 20px;
      transition: transform .5s ease, opacity .3s ease; } }

.mainDoc {
  padding: 30px 60px 30px 30px;
  text-align: justify; }
  .mainDoc .main-section {
    margin-bottom: 70px;
    border-bottom: 1px solid var(--mainTextColor); }
    .mainDoc .main-section .main-section__header {
      font-family: 'Roboto', sans-serif;
      font-size: 1.3em;
      padding-bottom: 40px;
      font-weight: 400; }
    .mainDoc .main-section .main-section__content {
      padding-bottom: 30px; }
    .mainDoc .main-section .main-section__readMore {
      margin-bottom: 40px;
      cursor: pointer;
      border: none;
      text-decoration: underline;
      transition: all .3s ease; }
      .mainDoc .main-section .main-section__readMore:hover {
        color: var(--textHover); }

.footer {
  background: linear-gradient(-45deg, #16457a 0%, #90c4ee 100%);
  display: flex;
  align-items: flex-start;
  justify-content: center; }

.wrapper {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 3fr; }
  @media (max-width: 850px) {
    .wrapper {
      grid-template-columns: 1fr; } }

.mainHeader {
  grid-column: 1/-1;
  height: 15vh; }

.footer {
  grid-column: 1/-1;
  height: 15vh; }

.menuSelector {
  position: absolute;
  background: none;
  border: 1px solid var(--textHover);
  border-radius: 2px;
  transition: all .6s ease;
  display: block; }
  @media all and (max-width: 850px) {
    .menuSelector {
      display: none; } }

.nav-link {
  transition: all .3s ease;
  transform-origin: left; }

.nav-link:hover {
  color: var(--textHover); }

.nav__search {
  color: var(--mainTextColor);
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--textHover); }

.nav__search::placeholder {
  color: grey; }

.nav__search:focus {
  outline: none; }

.button, .nav__burger {
  border: 1px solid var(--textHover);
  float: right;
  border-radius: 2px;
  color: var(--mainTextColor);
  padding: 10px;
  margin: 0 10px 0 0;
  transition: all .3s ease;
  cursor: pointer; }
  .button:hover, .nav__burger:hover {
    color: var(--textHover); }

.button--toggleDarkMode:hover {
  background: black; }

.button--returnHome {
  color: var(--mainTextColor);
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5); }

.arrow {
  transform: rotate(-90deg) scale(0.7);
  background: none; }

.main-section > ul {
  margin: 10px 0 40px 50px; }

.main-section > ul > li {
  padding: 5px; }

.main-section > code {
  background: #e7e7e7;
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0;
  display: block;
  color: grey;
  font-size: .8em; }

.button, .nav__burger {
  border: 1px solid var(--textHover);
  float: right;
  border-radius: 2px;
  color: var(--mainTextColor);
  padding: 10px;
  margin: 0 10px 0 0;
  transition: all .3s ease;
  cursor: pointer; }
  .button:hover, .nav__burger:hover {
    color: var(--textHover); }

.button--toggleDarkMode:hover {
  background: black; }

.button--returnHome {
  color: var(--mainTextColor);
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5); }

.arrow {
  transform: rotate(-90deg) scale(0.7);
  background: none; }

.nav__burger {
  z-index: 20;
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: center; }

@media all and (max-width: 850px) {
  .nav__burger {
    display: block; } }

.nav--active {
  transform: scale(1);
  opacity: 1; }
